GEMINI_API_KEY=your-api-keys

QDRANT_URL=your-qdrant-url
QDRANT_API_KEY=qdrant-api-key

CLOUDINARY_CLOUD_NAME=cloudinary-name
CLOUDINARY_API_KEY=cloudinary-api-key
CLOUDINARY_API_SECRET=cloudinary-api-secret